.hero4{
    background: black;
}
.hero4__title{
    text-align: center;
    color: $lightblue;
    font-size: 50px;
    font-weight: 600;
}
.hero4__text{
    text-align: center;
    font-size: 60px;
    color: $darkblue;
    font-weight: 900;
    margin-top: 30px;
}
.hero4__text1{
    text-align: center;
    font-size: 60px;
    color: $darkblue;
    font-weight: 900;
    margin-top: 30px;
    padding-bottom: 20px;
}