.hero3{
    background: black;
}
.hero3__title{
    text-align: center;
    color: $darkyellow;
    font-size: 100px;
    font-weight: 800;
    padding-top: 100px;
}
.hero3__title2{
    text-align: center;
    color: $darkyellow;
    font-size: 60px;
    padding-top: 40px;
    font-weight: 700px;
}
.hero3__text{
    align-items: center;
    padding-top: 15px;
    color: $darkgreen;
    font-size: 40px;

}
.hero3__text1{
    align-items: center;
    padding-top: 15px;
    color: $darkgreen;
    font-size: 40px;
    margin-bottom: 200px;
}